<style>
    ul {
        margin: 0;
        padding: 0;
    }

    ul li {
        list-style: none;
        display: inline-flex;
    }
</style>

<header>
    <nav>
        <ul>
            <li>
                <a href='/''>Main</a>
            </li>
            <li>
                <a href='/rules''>Rules</a>
            </li>
            <li>
                <a href='/cc''>Character creation</a>
            </li>
        </ul>
    </nav>
</header>
